# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
print("Serena Zhou")

Serena Zhou

<font size = "5">

Import the "pandas" and "numpy" library

In [2]:
# Write your answer here:

import numpy as np
import pandas as pd

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 13

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

In [3]:
# Write your own code

students= pd.read_csv("data_raw/students.csv")

numeric = [0, 55, 60, 65, 70, 75, 80, 83, 87, 93, 100 ]
letter = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]

students["letter grade"] = pd.cut(students["numericgrade"],
                                bins = numeric,
                                right = False,
                                labels = letter)
print(students)

    studentid  numericgrade letter grade
0           1            61           C-
1           2             0            F
2           3            14            F
3           4            57            D
4           5            72           C+
5           6            93            A
6           7            40            F
7           8            11            F
8           9             3            F
9          10            63           C-
10         11             7            F
11         12            46            F
12         13            75           B-
13         14            95            A
14         15            22            F
15         16            40            F
16         17            53            F
17         18            57            D
18         19            82            B
19         20            50            F
20         21             8            F
21         22            87           A-
22         23            82            B
23         24            30            F
24         25            62           C-

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [11]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

results = pd.read_csv("data_raw/results.csv")
column_types = results.dtypes
# dypes function shows that the type of "milliseconds" is an object, while the codebook suggests that it is an integer. This is because that this colume has N/A entries, making the column consisting of both strings and integers.

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [18]:
# Write your own code here

subset= results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

list_old = ['\\N']
list_new = [np.nan]

results["milliseconds"] = results["milliseconds"].replace(list_old, list_new)


results["milliseconds_numeric"] = pd.to_numeric(results["milliseconds"])

[]

resultId                  int64
raceId                    int64
driverId                  int64
constructorId             int64
number                   object
grid                      int64
position                 object
positionText             object
positionOrder             int64
points                  float64
laps                      int64
time                     object
milliseconds             object
fastestLap               object
rank                     object
fastestLapTime           object
fastestLapSpeed          object
statusId                  int64
milliseconds_numeric    float64
dtype: object

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [24]:
# Write your own code

results_agg = (results.groupby("constructorId")
                        .agg(mean_laps = ('laps','mean'),
                             sd_laps =('laps','std'))
                        .sort_values("mean_laps", ascending = False))

display(results_agg)

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [27]:
# Write your own code

results_agg = (results.query("raceId >= 200")
                       .groupby("constructorId")
                        .agg(mean_laps = ('laps','mean'),
                             sd_laps =   ('laps','std')))